<!DOCTYPE html>
<html>
  <head>
    <title>OpenFlights</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-qFK3J8MlF2yY5zBplMTRtHtdpLStZYrz2jjq4IYJ3j73rjX4KetxlKBLIY4RyjfOGjrZf38Zo5ASa1vIX8jQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>
    <%= yield %>
    <div id="root"></div>
  </body>
</html>
